<article class="user">
  <div class="user-content">
    <p class="user-name">
      <a href="/feeds/{{username}}">{{username}}</a>
    </p>
    <p class="user-feed-count">
      <a href="#">{{feedCount}}</a>
    </p>
  </div>
</article>
