body {
	--main-color: #5B6D86;
	--main-light-color: #8494AA;

	--secondary-color: #9CB978;
	--secondary-light-color: #CFE9AF;

	--tertiary-color: #7C5886;
	--tertiary-light-color: #A282AB;

	margin: 0px;
	background-color: var(--main-light-color);
}

header {
	display: flex;
	height:  75px;
	background-color: var(--main-color);
}

header a, li{
	text-decoration: none;
	list-style: none;
}

.site-title {
	flex: 1 0 30%;
	margin: 0px 0px 0px 10px;
	font-family: 'Monoton', cursive;
	font-size: 50px;
	color: var(--secondary-color);
}

.navbar{
	margin: 0px;
	flex: 1 0 65%;
	height: 75px;
}

.navlist{
	margin: 0px;
	padding-right: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-search{
	flex: 1 0 95%;
	height: 65px;;
	margin-top: 4px;
}

.username{
	padding-left: 10px;
	padding-top:  5px;
	height: 65px;
	width: 100%;

	font-size: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}

#account-settings{
	flex: 1 0 3%;
	font-size: 30px;
	font-color: var(--secondary-color);
	text-align: center;
}

#account-settings a{
	color: var(--secondary-color);
}

#navbar-search-input{
	padding-left: 10px;
	background-color: var(--main-light-color);
	border-radius: 3px;
	border:none;
	height: 65px;
	font-size: 50px;
	width: 100%;
	box-sizing: border-box;
}

#navbar-search-input:focus{
	outline: none;
}

.hidden {
	display: none;
}

/*   FEEDER CONTAINER STYLING   */


.feeder-container{
	padding: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}

.feed-pane{
	background-color: var(--tertiary-light-color);
	padding: 5px;
	margin-bottom: 5px;
}

.pane-header{
	display: flex;
	align-items: center;
	color: var(--secondary-color);
}

.pane-body{
	display: flex;
	flex-direction: column-reverse;
}

.pane-name{
	padding-left: 10px;
	margin: 0px;
}

.update-box{
	background-color: var(--tertiary-color);
	padding: 10px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}

.update-icon{
	text-align: center;
	background-color: var(--tertiary-light-color);
	padding: 25px 5px;
	font-size: 25px;
	flex: 0 1 5%;
}

.update-text{
	margin: 0px;
	margin-left: 10px;
}
#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

#create-user-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

#create-feed-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 700px;
  min-width: 400px;
  min-height: 300px;
  margin: 40px auto;
  background-color: var(--main-color);
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.user-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.user-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.user-input-element input,
.user-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid var(--secondary-light-color);
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: var(--secondary-light-color);
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: var(--secondary-color);
}

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}
